@mixin orange-filled {
    height: 60px;
    line-height: 60px;
    width: auto;
    padding: 0px 39px !important;
    letter-spacing: 0px;
    color: #ffffff !important;
    display: inline-block;
    border: none;
    font-size: 18px;
    background-color: $bright-main;
    border-radius: 0px;
    text-align: center;
    transition: all .3s ease-in-out;
    &:hover {
        cursor: pointer;
        background: #1a1a1a;
        box-shadow: 1px 2px 5px 0px rgb(0 0 0 / 20%);
    }
}