@font-face {
    font-family: 'Crystal';
    src: url("../assets//fonts//2019\ BPG_SSP_Crystal.ttf");
}

@font-face {
    font-family: 'Crystal-Bold';
    src: url("../assets//fonts//BPG_SSP_Crystal_Bold.ttf");
}

@font-face {
    font-family: 'Crystal-Bold-Caps';
    src: url("../assets//fonts//BPG_SSP_Crystal_Bold_Caps.ttf");
}

@font-face {
    font-family: 'Crystal-Italic';
    src: url("../assets//fonts//BPG_SSP_Crystal_Italic.ttf");
}