@import "../../styles//animation.scss";
@import "../../styles//variables.scss";
@import "../../styles//fonts.scss";

.home-wrapper {
  overflow: hidden;
  .ant-carousel {
    z-index: 1;
    position: relative;
    .slick-slider {
      overflow: hidden;
      .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10000;
        border: 1px solid #959595;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in;
        &:hover {
          border: 1px solid $bright-main;
          background-color: #fff;
          svg {
            fill: $bright-main;
          }
        }
        svg {
          width: 20px;
          height: 20px;
          fill: #a7a7a7;
        }
      }
      &:hover {
        .slick-prev {
          left: 5%;
        }
        .slick-next {
          right: 5%;
        }
      }
      .slick-prev {
        left: -5%;
      }
      .slick-next {
        right: -5%;
      }
      .slider-item {
        height: 160px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background-color: $dark-main;
        height: 90vh;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .best-choice-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    div:first-child {
      font-family: "Crystal";
      margin-bottom: 7px;
      font-size: 18px;
      line-height: normal;
      color: $bright-main;
    }
    div:last-child {
      font-family: "Crystal-Bold";
      font-size: 30px;
      font-weight: 700;
      line-height: 50px;
      color: #1a1a1a;
      margin-bottom: 60px;
      padding-bottom: 28px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: calc(50% - 40px);
        width: 80px;
        height: 4px;
        background-color: $bright-main;
      }
    }
  }
  .best-choice-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .slick-slider {
      max-width: 1320px;
      overflow: visible;

      .slick-arrow {
        border: 1px solid #000000;
        &:hover {
          svg {
          }
        }
        svg {
        }
      }
      &:hover {
        .slick-prev {
          left: -5%;
        }
        .slick-next {
          right: -5%;
        }
      }
      .slick-prev {
        left: -5%;
      }
      .slick-next {
        right: -5%;
      }
      .slider-item {
        height: 416px;
        background-color: #ffffff;
        margin: 0 10px;
        .best-choice-image {
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #959595;
          width: 298px;
          height: 298px;
          &:hover {
            border: 1px solid $bright-main;
            cursor: pointer;
            img {
              transform: scale(1.1);
            }
          }
          img {
            width: 100%;
            height: auto;
            transition: all .3s ease-in-out;
          }
        }
        .best-choice-desc {
          div:first-child {
            font-family: "Crystal-Bold";
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 700;
            line-height: 50px;
            color: #1a1a1a;
            transition: all .3s ease-in-out;

            &:hover {
              color: $bright-main;
              cursor: pointer;
            }
          }
          div:last-child {
            font-family: "Crystal-Bold";
            margin-bottom: 9px;
            font-size: 18px;
            line-height: normal;
            color: $bright-main;
          }
        }
      }
    }
  }
  .product-category {
    padding-bottom: 70px;
    .ant-row {
      .ant-col {
        .category-item {
          position: relative;
          &:hover {
            cursor: pointer;
            .bg-container {
              img {
                transform: scale(1.5);
              }
            }
            .custom-border {
              position: absolute;
              top: 0;
              left: 0;
              padding: 10px;
           
              div:first-child {
                top: 10%;
                left: 5%;
                width: 90%;
                height:80%;
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
              }
              div:last-child {
                top: 5%;
                left: 10%;
                width: 80%;
                height: 90%;
                border-left: 1px solid gray;
                border-right: 1px solid gray;
              }
            }
          }
          .bg-container {
            height: 80vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              height: 100%;
              width: auto;
              transition: all 1s ease-in-out;

            }
          }
          .custom-border {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            padding: 10px;
         
            div:first-child {
              position: absolute;
              top: 10%;
              left: 50%;
              width: 0%;
              height: 80%;
              border-top: 1px solid gray;
              border-bottom: 1px solid gray;
              transition: all 1s ease-in-out;
            }
            div:last-child {
              position: absolute;
              top: 50%;
              left: 10%;
              width: 80%;
              height: 0%;
              border-left: 1px solid gray;
              border-right: 1px solid gray;
              transition: all 1s ease-in-out;

            }
          }
          .category-title {
            position: absolute;
            z-index: 200;
            top: 15%;
            left: 20%;
            font-family: "Crystal-Bold";
            font-size: 2rem;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
  .choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-row {
      max-width: 1320px;
      .ant-col {
        height: 80vh;
   
        .choose-us-header {
          margin-bottom: 9px;
          line-height: normal;
          h3 {
            color: $dark-main;
            font-family: "Crystal-Bold";
            font-size: 40px;
          }
     
        }
        .choose-us-variants {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 50px 0 50px;

          .choose-us-item{
            width: 160px;
            height: 190px;
            margin-right: 20px;
            &:hover {
              cursor: pointer;
              .title {
                text-decoration: none;
                outline: none;
                color: $bright-main;
              }
              .image-container {
                border: 2px solid $bright-main;
                transform: rotate(10deg);
              }
            }
            .title {
              color: #999999;
              text-align: center;
              margin-bottom: 20px;
              font-size: 22px;
              font-family: "Crystal-Bold";
              line-height: normal;
              text-decoration: none;
              transition: all .3s ease-in-out;
            }
            .image-container {
              margin: 0!important;
              width: 160px;
              height: 160px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all .3s ease-in-out;
              &:hover {
                cursor: pointer;
                img {
                  transform: perspective(1px) translateZ(0);
                }
              }
              img {
                height: 100%;
                width: auto;
              }
            }
          }
        }
        .choose-us-blog {
          border-left: 5px solid $bright-main;
          padding-left: 20px;
          h4 {
            font-family: "Crystal";
            color: rgba(0, 0, 0, 0.85);
            line-height: 24px;
            font-size: 25px;
            margin-bottom: 10px;
          }
        }
        p {
          font-family: "Crystal";
          color: $paragraph;
          line-height: 24px;
          font-size: 17px;
        }
      }
      .ant-col:last-child {
        &:hover {
          .image-container {
            animation: 1s shake ease-in-out;
          }
        }
        .image-container {
          height: 100%;
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
  }
  .best-countdown {
    height: 80vh;
    background: #f5f5f5;
    padding-top: 64px;
    padding-bottom: 32px;
    .ant-row {
      .offer-carousel {
        .ant-carousel {
          .slick-slider {
            .arrow-left{}
            .arrow-right{}
          }
        }
      }
      .best-countdown-desc{
        padding-top: 127px;
        padding-left: 0px;
      }
    }
  }
}
