@import "../../styles//animation.scss";


.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  animation: 1s nav-anim ease-in-out;
}
.nav-wrapper {
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  overflow: hidden;
  .nav-container {
    max-width: 1320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      line-height: normal;
      width: 300px;
      color: #ff5a00;
    }
    .navigation {
      width: 600px;
      ul {
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
          display: inline-block;
          font-size: 14px;
          vertical-align: top;
          a {
            height: 40px;
            font-size: 16px;
            padding: 0px 15px;
            line-height: 40px;
            text-decoration: none;
            color: #fff;
            display: block;
            font-weight: 500;
            transition: all 0.3s ease;
            &:hover {
              color: #ff5a00;
            }
          }
        }
      }
    }
    .search-cart {
      width: 300px;
      display: flex;
      justify-content: end;
      align-items: center;
      .search {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 20px;
        .ant-form-item {
          margin: 0 10px;
          .ant-input {
            width: 0;
            padding: 0;
            border: 0;
          }
          .active {
            width: 180px;
            padding: 10px;
            border: 0;
          }
        }
      }
      .cart {
      }
      .anticon {
        &:hover {
          cursor: pointer;
          svg {
            fill: #ff5a00;
          }
        }
        svg {
          fill: white;
          width: 24px;
          height: 24px;
          transition: all 0.3s ease;
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .nav-container {
    padding: 20px;
    .navigation {
      display: none;
    }
    .search-cart {
      display: none!important;
    }
  }
}